{{ define "Endpoints" }}
  {{ template "AuthSpotifyEndpoints" }},
  {{ template "AuthYoutubeEndpoints" }},
  {{ template "SpotifyPlaylistsEndpoints" }},
  {{ template "YoutubeEndpoints" }},
  {{ template "ConversionEndpoints" }},
  {{ template "HealthEndpoints" }}
{{ end }}
